<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Daily News Scraper</title>   
    
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
  
<body>
    <div id="mainContainer" class="container-fluid">
      <nav>
        <div class="nav-wrapper">
          <a id="navHeader" href="#" class="brand-logo">The Daily News Scraper</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="homeBtn" >Home Sweet Home</a></li> <!-- action="/articles" method="get" -->
            <li><a class="savedArticles" href="/saved">Article Archive</a></li> 
            <li><a class="scrapeArticles">Scrape More Articles</a></li>
          </ul>
          <ul class="side-nav right-align" id="mobile-demo" style="transform: translateX(-100%);">
            <li><a class="homeBtn">Home Sweet Home</a></li>
            <li><a class="savedArticles" href="/saved">Article Archive</a></li>
            <li><a class="scrapeArticles">Scrape More Articles</a></li>
          </ul>
        </div>
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required="">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>

<!-- ================================================== -->
<!-- Page Header Starts -->
<!-- ================================================== -->
      <div class="row container" style="margin-top: 50px">
        <div class="col 10s center-align" style="float: none;">
          <h2><strong>Welcome to The Daily News Scraper!</strong></h2>
          <h4 class="grey-text text-darken-3 lighten-3">We've scraped the web to compile the top news stories of the day for you.</h4>
          <hr>
           <h5 class="grey-text text-darken-3 lighten-3">So go ahead, grab some coffee, browse, and comment on the articles below.</h5>
        </div>     
      </div>
<!-- ================================================== -->
<!-- Page Header Ends -->
<!-- ================================================== -->

      <div class="parallax-container">
        <div class="parallax"><img src="/images/coffeeImg.jpg" style="display: block; transform: translate3d(-50%, 0px, 0px);"></div>
      </div>

<!-- ================================================== -->
<!-- Article Display Starts -->
<!-- ================================================== -->
      <div class="jumbotron">

        {{{body}}}
        
      </div>
  <!-- ///////// -->

<!-- ================================================== -->
<!-- Article Display Ends -->
<!-- ================================================== -->

      <div class="parallax-container">
        <div class="parallax"><img src="/images/coffeepaperImg.jpg" style="display: block;"/></div>
      </div>

<!-- ================================================== -->
<!-- Modal Structure Starts -->
<!-- ================================================== -->
<!--     <div id="scrapeModal" class="modal">
      <div class="modal-content">
        <h4>Thanks for Scraping!!</h4>
        <p class="scrapeCount">Modal Text...</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
      </div>
    </div> -->
<!-- ================================================== -->
<!-- Modal Structure Ends -->
<!-- ================================================== -->

<!-- ================================================== -->
<!-- Footer Starts -->
<!-- ================================================== -->
    <footer class="footer">
      <div class="container">
        <p id="footer" class="center-align">The Daily News Scraper | ©Copyright 2017</p>
      </div>
    </footer>
<!-- ================================================== -->
<!-- Footer Ends -->
<!-- ================================================== -->

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

  <!-- Local JS Files -->
  <script src="/js/index.js"></script>
  <script src="/js/articlesSaved.js"></script>

  <script type="text/javascript">
    $(document).ready(function(event){
      $(".parallax").parallax();
      $(".button-collapse").sideNav();
    })
  </script>

  </body>
</html>
