<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Daily Scraper: World News</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- fav image -->
  <link rel="icon" type="image/jpg" sizes="16x16" href="/images/favicon.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css"style.css">
</head>

<body>
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  {{{ body }}}
</body>

</html>