<nav class="navbar navbar-inverse">
  <div class="nav-wrapper container-fluid">
    <a class="navbar-brand brand-logo" href="#!">NSD</a>
    <ul class="right hide-on-med-and-down">
      <li class="active"><a href="/articles">Today's Scrapes</a></li>
      <li><a href="/saved">Saved Scrapes</a></li>
      <li style="margin-right: 80px"><a class="btn btn-danger scrape-new">Scrape More</a></li>
    </ul>
    <div>
      <a id="annoucement" class="waves-effect waves-light btn btn-large btn-floating right hide-on-med-and-down" onclick="$('.tap-target').tapTarget('open')" >
        <i class="material-icons">menu</i>
      </a>
    </div>
    <div id="mobile-menu" class="fixed-action-btn click-to-toggle hide-on-large-only">
      <a class="btn-floating btn-large orange">
        <i class="large material-icons">info</i>
      </a>
      <ul>
        <li><a href="/articles" class="btn-floating green darken-1 mobile-item"><i class="material-icons">home</i></a></li>
        <li><a href="/saved" class="btn-floating blue darken-2 mobile-item"><i class="material-icons">save</i></a></li>
        <li><a class="btn-floating red darken-3 scrape-new mobile-item"><i class="material-icons">search</i></a></li>
      </ul>
    </div>
   </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/articles">Today's Scrapes</a></li>
  <li><a href="/saved">Saved Scrapes</a></li>
  <li><a class="btn btn-danger scrape-new">Scrape More</a></li>
</ul>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Scrapes</h1>
    <p>Your Saved Austin Technology News</p>
  </div>
</div>

<div class="row article-container">
</div>

<footer class="footer">
  <div class="container">
    <p id="footer" class="center-align">News Scraper Daily | ©Copyright 2017</p>
  </div>
</footer>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- Local JS Files -->
  <script src="/js/articlesSaved.js"></script>

<script type="text/javascript">
  $(document).ready(function(event){
    $(".parallax").parallax();
    $(".button-collapse").sideNav();
    $('.fixed-action-btn').floatingActionButton();
  })
</script>