<nav class="navbar navbar-inverse">
  <div class="nav-wrapper container-fluid">
    <a class="navbar-brand brand-logo" href="#!">NSD</a>
    <ul class="right hide-on-med-and-down">
      <li class="active"><a href="/articles">Today's Scrapes</a></li>
      <li><a href="/saved">Saved Scrapes</a></li>
      <li style="margin-right: 80px"><a class="btn btn-danger scrape-new">Scrape More</a></li>
    </ul>
    <div>
      <a id="annoucement" class="waves-effect waves-light btn btn-large btn-floating right hide-on-med-and-down" onclick="$('.tap-target').tapTarget('open')" >
        <i class="material-icons">menu</i>
      </a>
    </div>

    <div id="mobile-menu" class="fixed-action-btn click-to-toggle hide-on-large-only">
      <a class="btn-floating btn-large orange">
        <i class="large material-icons">info</i>
      </a>
      <ul>
        <li><a href="/articles" class="btn-floating green darken-1 mobile-item"><i class="material-icons">home</i></a></li>
        <li><a href="/saved" class="btn-floating blue darken-2 mobile-item"><i class="material-icons">save</i></a></li>
        <li><a class="btn-floating red darken-3 scrape-new mobile-item"><i class="material-icons">search</i></a></li>
      </ul>
    </div>

   </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Welcome to 
      <br/>
      News Scraper Daily
    </h1>
    <h3>The Austin Business Journal Edition</h3>
    <p>Top Tech News</p>
  </div>
</div>

<div class="row article-container">
</div>

<footer class="footer">
  <div class="container">
    <p id="footer" class="center-align">News Scraper Daily | ©Copyright 2017</p>
  </div>
</footer>

  <div class="tap-target teal lighten-3" data-activates="annoucement">
    <div class="tap-target-content">
      <h5>Welcome to the Daily Scraper!</h5>
      <p class="white-text">We've scraped the Top Ranking Austin Tech News.  So grab a coffee, browse the articles, and learn the lastest.
      </p>
     <a href="#!" onclick="$('.tap-target').tapTarget('close')">Dismiss</a>
    </div>
  </div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- Local JS Files -->
<script src="/js/index.js"></script>

<script type="text/javascript">
  $(document).ready(function(event){
    $(".parallax").parallax();
    $(".sidenav").sideNav();
    // $('.fixed-action-btn').floatingActionButton();

    var elem = document.querySelector('.fixed-action-btn');
    var instance = M.FloatingActionButton.init(elem, {
      direction: 'down',
      hoverEnabled: false
    });

    if ($(window).width() >= "760px") {
      $('.tap-target').tapTarget("open");
    }

  })
</script>