html {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
  overflow: hidden
}

body {
  margin-bottom: 80px;
  /*background-color: #06d3ba;*/
  background-image: url("../images/starnightImg.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #2196f3;
}

.navbar {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #23629c;
}

.navbar-brand.brand-logo {
  margin-top: 15px;
  color: white;
  font-family: "Cormorant SC";
  font-size: 42px;
}

a.btn {
  background-color: #23629c;
}

@media only screen and (min-width: 768px) {
  .navbar-brand {
    margin-left: 5px !important ;
  }
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  font-family: "Cormorant SC";
  box-shadow: 10px 5px 20px 2px lightslategrey;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  background: linear-gradient(#333, black);
  opacity: 0.7;
}

.jumbotron .background-image {
  height: 100%;
  background-image: url("../images/coffeeImg.jpg");
  background-size: cover;
}

.jumbotron .caption {
  position: absolute;
  top: -4%;
  width: 100%;
  text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption h3,
.jumbotron .caption p {
  color: white;
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: 800;
  margin-top: 100px;
}

.jumbotron p {
  font-size: 30px;
}

@media only screen and (max-width: 430px) {
  .article-container {
    margin-top: 180px;
  }
}

.card {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
  height: 400px;
  margin: 20px 10px;
  background-color: #0c7cd5;
  border: 5px solid slategray;
}

@media only screen and (max-width: 1000px) and (min-width: 450px) {
  .card {
    max-width: 350px;
    margin:0 auto;
    margin-bottom: 40px;
  }
}

.card h4 a {
  color: white;
}

.card h5 a {
  color: #e3e4f3;
}

.panel.panel-default {
  background-color: transparent;
}

.panel.panel-default .panel-heading {
  background-color: transparent;
  position: relative;
}

.panel-heading h3 {
  color: white;
}

.alert-warning {
  background-color: #0c7cd5;
}

.card .btn.save {
  background-color: #23629c;
  position: absolute;
  top: 240px;
  right: 35%;
  z-index: 999999;
}

.card .btn.link {
  background-color: orange;
  position: absolute;
  top: 300px;
  right: 35%;
  z-index: 999999;
}

@media only screen and (min-width: 2400px) {
  .card .btn.save {
    right: 40%;
  }

  .card .btn.link {
    right: 40%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .card .btn.save {
    right: 30%;
  }

  .card .btn.link {
    right: 30%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 380px) {
  .card .btn.save {
    top: 260px;
    right: 28%;
  }

  .card .btn.link {
    top: 320px;
    right: 28%;
  }
}

@media only screen and (max-width: 379px) {
  .card {
    height: 500px;
  }
  .card .btn.save {
    top: 340px;
    right: 23%;
  }
  .card .btn.link {
    top: 400px;
    right: 23%;
  }
}

/* /////////// card-flip /////////// */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg); /* this is for firefox 31 */
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

/*.back:hover {
    transform:scale(1.3);
    transition-property:transform;
    transition-duration:.3s;
    position:relative;
    z-index:1
}*/

/*////////////////////////*/


.panel-heading .btn.delete {
  right: 160px;
  margin-right: 5px;
}

.panel.panel-default .panel-body {
  font-size: 16px;
}

.panel.panel-default .panel-heading .article-link {
  color: white;
  display: inline-block;
  width: 80%;
}
  
.card .card-content {
  padding-top: 5px;
}

.footer > .container > p {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 0;
  font-weight: 800;
  background: #0c7cd5;
}

.navbar-nav > li > a.scrape-new {
  padding: 10px;
  margin-top: 10px;
  font-weight: 800;
  color: white;
}

.navbar-nav > li > a.scrape-new:hover {
  background: #4caf50;
}

.navbar-nav > li > a.scrape-new:active {
  background: #e51c23;
}

.scrape-new {
  cursor: pointer;
}

textarea {
  padding: 10px;
  resize: none;
}

.tap-target-wrapper {
  height: 1000 px;
  width: 1000 px;
}   

.bootbox-body .btn {
  float: right;
  margin: 5px;
}

.note.list-group-item {
  padding: 30px;
}

.note.list-group-item .btn {
  position: relative;
  bottom: 10px;
}

div.tap-target-content {
  width: 490.996px;
  text-align: right;
}

a#annoucement {
  z-index: 99px !important;
  position: absolute;
  top: 3px;
  right: 20px;
}

row {
  margin-bottom: 0px;
}

@media only screen and (min-width:701px) and (max-width: 800px) {
  a#annoucement {
    z-index: -2px !important;
    position: absolute;
    top: 2px;
    right: 50px;
  }
}

@media only screen and (min-width:200px) and (max-width: 700px) {
  a#annoucement {
    z-index: -2px !important;
    position: absolute;
    top: 2px;
    right: 20px;
  }
}

.modal {
  background-color: transparent !important;
}